<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="sec-26 blog project\public\style.css">

  <title>BLOG PROJECT</title>
</head>
<body>
 
</body>
</html>