<!-- views/index.ejs -->
<%- include('partials/header', { title: 'Home' }) %>
  <div class="container">
    <h2>Blog Posts</h2>
    <a class="ff" href="/compose" style="
    width: 300px; margin-left: 340px;">Compose</a>
    <div class="posts">
      <% posts.forEach(post => { %>
        <div class="post">
          <h3><%= post.title %></h3>
          <p><%= post.content %></p>
        </div>
      <% }); %>
    </div>
  </div>
<%- include('partials/footer') %>
