<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container text-center">
      <a href="https://instagram.com" target="_blank"><img src="/images/instagram.png" alt="Instagram" class="social-icon"></a>
      <a href="https://facebook.com" target="_blank"><img src="/images/facebook.png" alt="Facebook" class="social-icon"></a>
      <a href="https://twitter.com" target="_blank"><img src="/images/twitter.png" alt="Twitter" class="social-icon"></a>
    </div>
  </footer>
  